.soulignerBleu{
    border-bottom: 4px #38b6ff  solid;
}
#principale{
    width: 50%;
    min-height: 84%;
    max-height: 100%;
    padding-left: 30px;
    border-radius: 50px;
    border: 1px #38b6ff solid;
    position: absolute;
    top:90%;
    left: 50%;
    transform: translateX(-50%);
    align-items: baseline;
    background-color: white;

}
#secondaire{
    padding: 20px;
    height: 50%;
}
.img{
    font-size: 100px;
    color: gray;

}
.centerAlign{
    text-align: center;
    padding-right:50px;
    padding-left: 50px;
}
.borderRight{
    border-right: 1px #38b6ff solid;

}

@media screen and (max-width:400px){
    
    #principale{
        left: 0px;
        transform: translateX(0px);
        width: 100%;
        border-radius: 0px;
        background-color: whitesmoke;
    }
}

