/* Pour le menu */
.menu{
	top: 0px;
	left: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding-top: 50px;
	position: absolute;
	height: 100%;
	width: 20%;


}


#logo{
	width: 100 px;
	height: 100px;	
	position: relative;
	margin-bottom: 20px;
}
.onglet{
	width: 180px;
	height: 30px;
	margin-bottom: 10px;
	position: relative;
	color: rgb(39, 41, 40) !important;
	left: 30px;
	border-radius: 50px 50px 50px 50px;
	padding-left: 10px ;
	padding-top: 5px;
	cursor: pointer;
}
#separateur{
	height: 100%;
	position: absolute;
	border: 1px rgb(125, 125, 125) solid;
	border-left-width: 0px;
	width: 18%;
	border-radius: 0px 50px 50px 0px;

}
/*corp*/
#corps{
	left: 30%;
	color: rgb(39, 41, 40) !important;
	position: relative;
	top: 0px;
	margin-top: 100px;

}
.logoPayement{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
#deposer,#retirer{
	width: 90px;
	height: 70px;
	margin-bottom: 50px;
}
#main{
	height: 500px;
	width: 50%;
	position: relative;
	border: 1px gray solid;
	border-radius: 50px 50px 50px 50px;
	padding-left: 30px;
	position: relative;

}


/*en-tete*/

#liste{
	padding-left: 20%;
	width: 180px;
	height: auto;
	position: relative;

}
#leftMargin{
	margin-left: 10px;
}
.tableBox{
	width: auto;
	height: 70px;
	margin-bottom: 50px;
	border-bottom: 0px #38b6ff  solid;
	cursor: pointer;
}

.tableBox2{
	width: 20%;
	height: 70px;
	margin-bottom: 50px;
	border-bottom: 0px #38b6ff  solid;
	cursor: pointer;
	background-color: aliceblue;
}

.noOpacity{
	opacity: 100%;
	color: black;
}
