@media screen and (max-width:320px){
    #recherche{
        display: none;
        border: none;
    }
    .space{
        margin: auto;
    }
    .responsiveIco{
        font-size: 30px;
    }

    #icone{
        display: ruby;
    }
    .montant,.compte,.historique,.deposer,.retirer,.editer{
        width: 50px;
    }
}