#listeTontine{
    position: absolute;
    height: 30%;
    width: 70%;
    padding: auto;
    left: 50%;
    top: 25%;
    display: ruby;
    overflow-x: scroll;
    scrollbar-width:thin;
    overflow-y: hidden;
    scroll-behavior: smooth;
    transform: translateX(-50%);
}

.tontine{
    top: 1%;
    height: 90%;
    width: 25%;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    text-align: center;
    padding-left: 5%;

}

.droit,.gauche{
    position: sticky;
    width: 3%;
    height: 40%;
    transform: translateY(-70%);  
    color: transparent;
    background-color: transparent;
    top: 50%;
    border-radius: 10%;   
    font-size:50px;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
    padding-top: 10px;
    color: white;
}
.droit{   
    left: 1%; 
}
.gauche{
    left: 90%;
}
.droit:hover{
    color: #6d5757;
}
.gauche:hover{
    color: #5c5c5c;
}



.sousBox{
    width: 80%;
    z-index: -10;

}

.box{
    background-image: url(box.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.box:hover{
    width: 27%;
    color: #38b6ff ;
}
@media screen and (max-width:450px){
    #listeTontine{
        left: 0px;
        transform: translateX(0%);
        width: 100%;
        height: 100px;
    }
    .tontine{
        width: 120px;
        height: 85px;
    }
    .sousBox{
        font-size: 10px;
    }
    .tontine:hover{
        width: initial;
        height: initial;
    }
    .droit,.gauche{
        top: 0%;
        font-size: 30px;
    }
}
